<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>9ServletContextApp</display-name>
	<context-param>
		<param-name>coure</param-name>
		<param-value>Java</param-value>
	</context-param>
	<context-param>
		<param-name>topic</param-name>
		<param-value>Servlet</param-value>
	</context-param>

	<servlet>
		<servlet-name>ls</servlet-name>
		<servlet-class>com.elegant.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ls</servlet-name>
		<url-pattern>/lcp</url-pattern>
	</servlet-mapping>


</web-app>