<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>3InitparamsApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>is</servlet-name>
		<servlet-class>com.elegant.InitServlet</servlet-class>

		<init-param>
			<param-name>course</param-name>
			<param-value>Java</param-value>
		</init-param>

		<init-param>
			<param-name>topic</param-name>
			<param-value>Servlet</param-value>
		</init-param>
		<load-on-startup>-5</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>is</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>

</web-app>