<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>10FiltersAPP</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>us</servlet-name>
		<servlet-class>com.elegant.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>us</servlet-name>
		<url-pattern>/uf</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>kkkkk</filter-name>
		<filter-class>com.elegant.UserFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>kkkkk</filter-name>
		<url-pattern>/uf</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>sf</filter-name>
		<filter-class>com.elegant.SecondFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sf</filter-name>
		<url-pattern>/uf</url-pattern>
	</filter-mapping>





</web-app>